<a href="/">Home</a>
<br><br>
<form action="/catalog" method="POST">
    <div>
        <label for="userQuery">Search</label>
        <input type="userQuery" id="userQuery" name="userQuery"
        required>
    </div>
    <button type="submit">Search</button>
</form>

<ul>
    <% catalog.forEach(element => { %>
        <li> Title: <%= element.title %> 
        <br> Author: <%= element.author %> 
        <br> Date: <%= element.date %> 
        <br> Type: <%= element.type %> 
        <br> Publisher: <%= element.publisher %></li>
        <a href="/catalog/confirmation?accession=<%=element.accession%>">Check Out</a>
        <br>
        <% if (user.isAdmin) { %>
            <a href="/catalog/edit?accession=<%=element.accession%>">Edit</a>
            <br>
        <% } %>
        <br>

    <% }); %>
</ul>