<a href="/">Home</a>
<br>
<a href="/catalog">Back</a>

<br>
<h1>You searched for: "<%= userQuery %>"</h1>
<br>
<% if (searchResults.length == 0) { %>
    No Results Found :(
<% } %>
<ul>
    <% searchResults.forEach((value, key) => { %>
        <li> Title: <%= key.title %> 
        <br> Author: <%= key.author %> 
        <br> Date: <%= key.date %> 
        <br> Type: <%= key.type %> 
        <br> Publisher: <%= key.publisher %></li>
        <a href="/catalog/confirmation?accession=<%=key.accession%>">Check Out</a>
        <br>
        <% if (isAdmin) { %>
            <a href="/catalog/edit?accession=<%=key.accession%>">Edit</a>
            <br>
        <% } %>
        <br>
    <% }); %>
</ul>
