<h1>User Reservations</h1>

<ul>
    <% items.forEach(element => { %>
        <li> Title: <%= element.title %> 
        <br> Author: <%= element.author %> 
        <br> Type: <%= element.type %> 
        <br> Publisher: <%= element.publisher %></li>
        <form action="/reservations" method="POST">
            <input type="hidden" id="accession" name="accession" value="<%=element.accession%>">
            <button>Cancel</button>
        </form>
        <br>
    <% }); %>
</ul>

<br>
<a href="/">Home</a>